@charset "UTF-8";

/* ------------------------ tag style reset ---------------------------- */
html{
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

/* ------------------------ my style cascade ---------------------------- */

.hidden{
	display: none;
}

/* --- .header ------------------------------------------------------------ */
.header{
	height: 45px;
	width: 100%;
	position: fixed;
	background: #ffffff;
	border-bottom: 1px solid #e9e9e9;
}
	.header>h1{
			font-size: 14px;
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
	/* --- .main-menu -------------------------------------------------- */
	.main-menu{
		position: relative;
		top: -45px;
	}
		.main-menu ul{
			display: flex;
			justify-content: space-between;
		}
			.main-menu li,
			.main-menu li a{
				width: 45px;
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
				.main-menu li a img{
					width: 24px;
					height: 24px;
				}
				
/* --- .main ------------------------------------------------------------ */
.main{
   padding-top: 45px;
}

   .main .note-list{
      font-size: 14px;
      line-height: 19px;
      color:#595959;
   }
   
      .main .note-list ul{
   
      }
         
         .main .note-list ul li{
            padding: 15px;
            border-bottom: 1px solid #ddd;
            
         }
         
         .main .note-list ul li > div:first-child{      /* 구조가 안 바뀔 경우 */
            font-size: 17px;
            line-height: 21px;
            color: #000;
            padding-bottom: 5px;
         }
         
         .main .note-list ul li .title{         /* 구조가 바뀔 경우 */
            
         }
         
         .main .note-list ul li > div:not(first-child){
         	margin-top: 5px;
         }
         
         .main .note-list ul li > div:last-child{
         	font-size: 13px;
            display: flex;
            justify-content: space-between;
         }
         
            .main .note-list ul li > div > span:first-child {
               color: #6bacca;
            }