<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlecture.dao.NoteDao">

	<!-- <select id="getList" resultType="com.newlecture.entity.Note">
		select * from Note 
		limit ${(_parameter-1)*15},15
		가져오고 싶은 레코드 갯수를 써주면 된다 (mysql)
	</select> -->
	
	<select id="get" resultType="com.newlecture.entity.Note">
		select * from Note where id=#{id}
	</select>

</mapper>